*{padding: 0;margin: 0;}
body{
    padding: 20px;
    font-family: "微软雅黑";
    font-size: 15px;
}
.main,.main-duizhang,.center{
    padding: 20px;
    border: 1px solid #999;
    background: #fff;
}
.main{
    margin: 0 auto;
    overflow: auto;
    min-width: 600px;
    background: #eee;
}
.main-duizhang{
    float: left;
    width: 160px;
}
.main-duiyou{
    float: right;
    width: 120px;
    /*padding: 20px;*/
    border: 1px solid #999;
    background: #fff;
}
.main-duizhang img{
    float: left;
}
.team_name{
    width:180px;
    font: 13px;
    font-weight: bold;
    text-align: center;
}
.main-duiyou img{
    background: #fff;
    display: block;
    margin: 20px;
    border: 1px solid #999;
}
.center{
    margin:0 140px 0 220px;
}